USE [master]
GO
/****** Object:  Database [EmpLMS_DB]    Script Date: 9/15/2026 9:29:54 PM ******/
CREATE DATABASE [EmpLMS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmpLMS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmpLMS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmpLMS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmpLMS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmpLMS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmpLMS_DB]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[EntityName] [nvarchar](100) NULL,
	[EntityId] [int] NULL,
	[PerformedByUserId] [int] NULL,
	[Timestamp] [datetime] NOT NULL,
	[Details] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentMaster]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Designation] [nvarchar](100) NULL,
	[ContactNumber] [nvarchar](20) NULL,
	[TotalLeaveQuota] [int] NOT NULL,
	[DateOfJoining] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HolidayDate] [date] NOT NULL,
	[HolidayName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveBalances]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveBalances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[LeavePurposeId] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[AllocatedDays] [decimal](4, 1) NOT NULL,
	[UsedDays] [decimal](4, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeavePurposeMaster]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeavePurposeMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Purpose] [nvarchar](100) NOT NULL,
	[DefaultDaysPerYear] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequests]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[LeavePurposeId] [int] NOT NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
	[TotalDays] [decimal](4, 1) NOT NULL,
	[Remarks] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[AdminRemarks] [nvarchar](500) NULL,
	[ReviewedByUserId] [int] NULL,
	[ReviewedDate] [datetime] NULL,
	[RequestDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DepartmentMaster] ON 

INSERT [dbo].[DepartmentMaster] ([Id], [Name], [IsActive]) VALUES (1, N'IT', 1)
INSERT [dbo].[DepartmentMaster] ([Id], [Name], [IsActive]) VALUES (2, N'HR', 1)
INSERT [dbo].[DepartmentMaster] ([Id], [Name], [IsActive]) VALUES (3, N'Finance', 1)
SET IDENTITY_INSERT [dbo].[DepartmentMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [UserId], [EmployeeCode], [FirstName], [LastName], [DepartmentId], [Designation], [ContactNumber], [TotalLeaveQuota], [DateOfJoining], [IsActive]) VALUES (1, 2, N'EMP001', N'Subhankar', N'Karmakar', 1, N'Software Engineer', N'john.doe@example.com', 20, CAST(N'2026-09-15' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Holidays] ON 

INSERT [dbo].[Holidays] ([Id], [HolidayDate], [HolidayName], [IsActive]) VALUES (1, CAST(N'2026-01-01' AS Date), N'New Year''s Day', 1)
INSERT [dbo].[Holidays] ([Id], [HolidayDate], [HolidayName], [IsActive]) VALUES (2, CAST(N'2026-01-26' AS Date), N'Republic Day', 1)
INSERT [dbo].[Holidays] ([Id], [HolidayDate], [HolidayName], [IsActive]) VALUES (3, CAST(N'2026-08-15' AS Date), N'Independence Day', 1)
SET IDENTITY_INSERT [dbo].[Holidays] OFF
GO
SET IDENTITY_INSERT [dbo].[LeavePurposeMaster] ON 

INSERT [dbo].[LeavePurposeMaster] ([Id], [Purpose], [DefaultDaysPerYear], [IsActive]) VALUES (1, N'Sick Leave', 8, 1)
INSERT [dbo].[LeavePurposeMaster] ([Id], [Purpose], [DefaultDaysPerYear], [IsActive]) VALUES (2, N'Casual Leave', 12, 1)
INSERT [dbo].[LeavePurposeMaster] ([Id], [Purpose], [DefaultDaysPerYear], [IsActive]) VALUES (3, N'Earned Leave', 15, 1)
SET IDENTITY_INSERT [dbo].[LeavePurposeMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt]) VALUES (1, N'admin@example.com', N'admin123', N'Admin', 1, CAST(N'2026-09-15T09:55:25.697' AS DateTime))
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt]) VALUES (2, N'employee@example.com', N'emp123', N'Employee', 1, CAST(N'2026-09-15T09:55:25.697' AS DateTime))
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt]) VALUES (3, N'Subhankar@gmail.com', N'4iJKLKJBE/y57UJe+aaSsJbmRyOAXxWrbkVhDQXNnCw=', N'Employee', 1, CAST(N'2026-09-15T20:56:36.957' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__737584F651BD4D79]    Script Date: 9/15/2026 9:29:54 PM ******/
ALTER TABLE [dbo].[DepartmentMaster] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Employee__1788CC4DC165C430]    Script Date: 9/15/2026 9:29:54 PM ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__1F6425488B9ECB81]    Script Date: 9/15/2026 9:29:54 PM ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_DepartmentId]    Script Date: 9/15/2026 9:29:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_DepartmentId] ON [dbo].[Employees]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Holidays__F1ADD9D1DB9B65BD]    Script Date: 9/15/2026 9:29:54 PM ******/
ALTER TABLE [dbo].[Holidays] ADD UNIQUE NONCLUSTERED 
(
	[HolidayDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Employee_Leave_Year]    Script Date: 9/15/2026 9:29:54 PM ******/
ALTER TABLE [dbo].[LeaveBalances] ADD  CONSTRAINT [UQ_Employee_Leave_Year] UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC,
	[LeavePurposeId] ASC,
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LeavePur__6EA87AE85B26D318]    Script Date: 9/15/2026 9:29:54 PM ******/
ALTER TABLE [dbo].[LeavePurposeMaster] ADD UNIQUE NONCLUSTERED 
(
	[Purpose] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveRequests_Dates]    Script Date: 9/15/2026 9:29:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveRequests_Dates] ON [dbo].[LeaveRequests]
(
	[FromDate] ASC,
	[ToDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveRequests_EmployeeId]    Script Date: 9/15/2026 9:29:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveRequests_EmployeeId] ON [dbo].[LeaveRequests]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LeaveRequests_Status]    Script Date: 9/15/2026 9:29:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveRequests_Status] ON [dbo].[LeaveRequests]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105349F3E7C8F]    Script Date: 9/15/2026 9:29:54 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[DepartmentMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((20)) FOR [TotalLeaveQuota]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (CONVERT([date],getdate(),(0))) FOR [DateOfJoining]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Holidays] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LeaveBalances] ADD  DEFAULT ((0)) FOR [AllocatedDays]
GO
ALTER TABLE [dbo].[LeaveBalances] ADD  DEFAULT ((0)) FOR [UsedDays]
GO
ALTER TABLE [dbo].[LeavePurposeMaster] ADD  DEFAULT ((0)) FOR [DefaultDaysPerYear]
GO
ALTER TABLE [dbo].[LeavePurposeMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users] FOREIGN KEY([PerformedByUserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[DepartmentMaster] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Department]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Users]
GO
ALTER TABLE [dbo].[LeaveBalances]  WITH CHECK ADD  CONSTRAINT [FK_LeaveBalances_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaveBalances] CHECK CONSTRAINT [FK_LeaveBalances_Employees]
GO
ALTER TABLE [dbo].[LeaveBalances]  WITH CHECK ADD  CONSTRAINT [FK_LeaveBalances_LeavePurpose] FOREIGN KEY([LeavePurposeId])
REFERENCES [dbo].[LeavePurposeMaster] ([Id])
GO
ALTER TABLE [dbo].[LeaveBalances] CHECK CONSTRAINT [FK_LeaveBalances_LeavePurpose]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequests_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LeaveRequests_Employees]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequests_LeavePurpose] FOREIGN KEY([LeavePurposeId])
REFERENCES [dbo].[LeavePurposeMaster] ([Id])
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LeaveRequests_LeavePurpose]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequests_ReviewedBy] FOREIGN KEY([ReviewedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LeaveRequests_ReviewedBy]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [CK_LeaveRequests_Dates] CHECK  (([ToDate]>=[FromDate]))
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [CK_LeaveRequests_Dates]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [CK_LeaveRequests_TotalDays] CHECK  (([TotalDays]>(0)))
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [CK_LeaveRequests_TotalDays]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddEmployee]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_AddEmployee]
    @Email NVARCHAR(100),
    @Password NVARCHAR(255),
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @DepartmentId INT,
    @Designation NVARCHAR(100),
    @ContactNumber NVARCHAR(20),
    @TotalLeaveQuota INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if Email already exists
    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
    BEGIN
        RAISERROR('User already exists.', 16, 1);
        RETURN;
    END;

    DECLARE @NextId INT = 1;
    SELECT @NextId = ISNULL(MAX(Id), 0) + 1 FROM Employees;
    DECLARE @EmployeeCode NVARCHAR(50) = 'EMP' + RIGHT('000' + CAST(@NextId AS VARCHAR(10)), 3);

    -- Insert User
    INSERT INTO Users (Email, PasswordHash, Role, IsActive)
    VALUES (@Email, @Password, 'Employee', 1);

    DECLARE @UserId INT = SCOPE_IDENTITY();

    -- Insert Employee
    INSERT INTO Employees (
        UserId, 
        EmployeeCode, 
        FirstName, 
        LastName, 
        DepartmentId, 
        Designation, 
        ContactNumber, 
        TotalLeaveQuota, 
        DateOfJoining, 
        IsActive
    )
    VALUES (
        @UserId, 
        @EmployeeCode, 
        @FirstName, 
        @LastName, 
        @DepartmentId, 
        @Designation, 
        @ContactNumber, 
        ISNULL(@TotalLeaveQuota, 20), 
        CAST(GETDATE() AS DATE), 
        1
    );

    DECLARE @EmployeeId INT = SCOPE_IDENTITY();

    -- Seed Initial Leave Balances for 2026
    INSERT INTO LeaveBalances (EmployeeId, LeavePurposeId, Year, AllocatedDays, UsedDays)
    SELECT @EmployeeId, Id, YEAR(GETDATE()), DefaultDaysPerYear, 0
    FROM LeavePurposeMaster
    WHERE IsActive = 1;

    -- Audit Log
    INSERT INTO AuditLogs (Action, EntityName, EntityId, PerformedByUserId, Details)
    VALUES ('AddEmployee', 'Employee', @EmployeeId, @UserId, ('Created employee ' + @EmployeeCode + ' - ' + @FirstName + ' ' + @LastName));

    SELECT @EmployeeId AS NewEmployeeId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ApplyLeave]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_ApplyLeave]
    @EmployeeId INT,
    @LeavePurposeId INT,
    @FromDate DATE,
    @ToDate DATE,
    @TotalDays DECIMAL(4,1),
    @Remarks NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    IF @ToDate < @FromDate
    BEGIN
        RAISERROR('To Date cannot be earlier than From Date.', 16, 1);
        RETURN;
    END;

    IF EXISTS (
        SELECT 1 FROM LeaveRequests
        WHERE EmployeeId = @EmployeeId
          AND Status IN ('Pending', 'Approved')
          AND FromDate <= @ToDate
          AND ToDate >= @FromDate
    )
    BEGIN
        RAISERROR('An active leave request already exists overlapping with these dates.', 16, 1);
        RETURN;
    END;

    INSERT INTO LeaveRequests (
        EmployeeId, 
        LeavePurposeId, 
        FromDate, 
        ToDate, 
        TotalDays, 
        Remarks, 
        Status, 
        RequestDate
    )
    VALUES (
        @EmployeeId, 
        @LeavePurposeId, 
        @FromDate, 
        @ToDate, 
        @TotalDays, 
        @Remarks, 
        'Pending', 
        GETDATE()
    );

    DECLARE @NewLeaveId INT = SCOPE_IDENTITY();

    -- Audit log
    INSERT INTO AuditLogs (Action, EntityName, EntityId, PerformedByUserId, Details)
    SELECT 
        'ApplyLeave', 
        'LeaveRequest', 
        @NewLeaveId, 
        u.Id, 
        ('Employee applied for leave from ' + CONVERT(VARCHAR, @FromDate, 23) + ' to ' + CONVERT(VARCHAR, @ToDate, 23) + '. Total days: ' + CAST(@TotalDays AS VARCHAR(10)))
    FROM Employees e
    JOIN Users u ON e.UserId = u.Id
    WHERE e.Id = @EmployeeId;

    SELECT @NewLeaveId AS LeaveRequestId;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetActiveLeavePurposes]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_GetActiveLeavePurposes]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Purpose, DefaultDaysPerYear 
    FROM LeavePurposeMaster 
    WHERE IsActive = 1
    ORDER BY Purpose;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAdminDashboardStats]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_GetAdminDashboardStats]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TotalEmployees INT = 0;
    SELECT @TotalEmployees = COUNT(*) FROM Employees WHERE IsActive = 1;

    DECLARE @PendingRequests INT = 0;
    SELECT @PendingRequests = COUNT(*) FROM LeaveRequests WHERE Status = 'Pending';

    DECLARE @ApprovedRequests INT = 0;
    SELECT @ApprovedRequests = COUNT(*) FROM LeaveRequests WHERE Status = 'Approved';

    DECLARE @RejectedRequests INT = 0;
    SELECT @RejectedRequests = COUNT(*) FROM LeaveRequests WHERE Status = 'Rejected';

    SELECT 
        @TotalEmployees AS TotalEmployees,
        @PendingRequests AS PendingRequests,
        @ApprovedRequests AS ApprovedRequests,
        @RejectedRequests AS RejectedRequests;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllEmployees]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_GetAllEmployees]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        e.Id AS EmployeeId,
        e.UserId,
        e.EmployeeCode,
        e.FirstName,
        e.LastName,
        (e.FirstName + ' ' + e.LastName) AS FullName,
        u.Email,
        e.DepartmentId,
        d.Name AS DepartmentName,
        e.Designation,
        e.ContactNumber,
        e.TotalLeaveQuota,
        e.DateOfJoining,
        e.IsActive,
        ISNULL((
            SELECT SUM(TotalDays) 
            FROM LeaveRequests 
            WHERE EmployeeId = e.Id AND Status = 'Approved'
        ), 0) AS LeavesTaken
    FROM Employees e
    JOIN Users u ON e.UserId = u.Id
    JOIN DepartmentMaster d ON e.DepartmentId = d.Id
    ORDER BY e.Id DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllLeaveRequests]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_GetAllLeaveRequests]
    @StatusFilter NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        lr.Id,
        lr.EmployeeId,
        e.EmployeeCode,
        (e.FirstName + ' ' + e.LastName) AS EmployeeName,
        u.Email AS EmployeeEmail,
        d.Name AS DepartmentName,
        lp.Purpose AS LeavePurposeName,
        lr.FromDate,
        lr.ToDate,
        lr.TotalDays,
        lr.Remarks,
        lr.Status,
        lr.AdminRemarks,
        lr.RequestDate,
        lr.ReviewedDate,
        (reviewer.FirstName + ' ' + reviewer.LastName) AS ReviewedByName
    FROM LeaveRequests lr
    JOIN Employees e ON lr.EmployeeId = e.Id
    JOIN Users u ON e.UserId = u.Id
    JOIN DepartmentMaster d ON e.DepartmentId = d.Id
    JOIN LeavePurposeMaster lp ON lr.LeavePurposeId = lp.Id
    LEFT JOIN Users ru ON lr.ReviewedByUserId = ru.Id
    LEFT JOIN Employees reviewer ON ru.Id = reviewer.UserId
    WHERE (@StatusFilter IS NULL OR @StatusFilter = '' OR lr.Status = @StatusFilter)
    ORDER BY 
        CASE WHEN lr.Status = 'Pending' THEN 0 ELSE 1 END,
        lr.RequestDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDepartments]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_GetDepartments]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Name FROM DepartmentMaster WHERE IsActive = 1 ORDER BY Name;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeeById]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_GetEmployeeById]
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        e.Id AS EmployeeId,
        e.UserId,
        e.EmployeeCode,
        e.FirstName,
        e.LastName,
        u.Email,
        e.DepartmentId,
        d.Name AS DepartmentName,
        e.Designation,
        e.ContactNumber,
        e.TotalLeaveQuota,
        e.DateOfJoining,
        e.IsActive
    FROM Employees e
    JOIN Users u ON e.UserId = u.Id
    JOIN DepartmentMaster d ON e.DepartmentId = d.Id
    WHERE e.Id = @EmployeeId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeeLeaveHistory]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_GetEmployeeLeaveHistory]
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        lr.Id,
        lr.EmployeeId,
        lp.Purpose AS LeavePurposeName,
        lr.FromDate,
        lr.ToDate,
        lr.TotalDays,
        lr.Remarks,
        lr.Status,
        lr.AdminRemarks,
        lr.RequestDate
    FROM LeaveRequests lr
    JOIN LeavePurposeMaster lp ON lr.LeavePurposeId = lp.Id
    WHERE lr.EmployeeId = @EmployeeId
    ORDER BY lr.RequestDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeeLeaveSummary]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_GetEmployeeLeaveSummary]
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TotalQuota INT = 20;
    SELECT @TotalQuota = ISNULL(TotalLeaveQuota, 20) 
    FROM Employees 
    WHERE Id = @EmployeeId;

    DECLARE @ApprovedDays DECIMAL(4,1) = 0;
    SELECT @ApprovedDays = ISNULL(SUM(TotalDays), 0)
    FROM LeaveRequests
    WHERE EmployeeId = @EmployeeId AND Status = 'Approved';

    DECLARE @PendingDays DECIMAL(4,1) = 0;
    SELECT @PendingDays = ISNULL(SUM(TotalDays), 0)
    FROM LeaveRequests
    WHERE EmployeeId = @EmployeeId AND Status = 'Pending';

    DECLARE @AvailableDays DECIMAL(4,1) = @TotalQuota - @ApprovedDays;

    SELECT 
        @TotalQuota AS TotalQuota,
        @ApprovedDays AS UsedLeaves,
        @PendingDays AS PendingLeaves,
        @AvailableDays AS AvailableLeaves;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserById]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_GetUserById]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.Id AS UserId,
        u.Email,
        u.Role,
        u.IsActive,
        u.CreatedAt,
        e.Id AS EmployeeId,
        e.EmployeeCode,
        e.FirstName,
        e.LastName
    FROM Users u
    LEFT JOIN Employees e ON u.Id = e.UserId
    WHERE u.Id = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ToggleEmployeeStatus]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_ToggleEmployeeStatus]
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UserId INT, @CurrentStatus BIT;
    SELECT @UserId = UserId, @CurrentStatus = IsActive FROM Employees WHERE Id = @EmployeeId;

    IF @UserId IS NULL
    BEGIN
        RAISERROR('Employee not found.', 16, 1);
        RETURN;
    END;

    DECLARE @NewStatus BIT = CASE WHEN @CurrentStatus = 1 THEN 0 ELSE 1 END;

    UPDATE Employees SET IsActive = @NewStatus WHERE Id = @EmployeeId;
    UPDATE Users SET IsActive = @NewStatus WHERE Id = @UserId;

    SELECT @NewStatus AS NewStatus;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateEmployee]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_UpdateEmployee]
    @EmployeeId INT,
    @Email NVARCHAR(100),
    @Password NVARCHAR(255) = NULL,
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @DepartmentId INT,
    @Designation NVARCHAR(100),
    @ContactNumber NVARCHAR(20),
    @TotalLeaveQuota INT,
    @IsActive BIT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UserId INT;
    SELECT @UserId = UserId FROM Employees WHERE Id = @EmployeeId;

    IF @UserId IS NULL
    BEGIN
        RAISERROR('Employee not found.', 16, 1);
        RETURN;
    END;

    -- Check if another user has this email
    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email AND Id <> @UserId)
    BEGIN
        RAISERROR('Another user already has this email address.', 16, 1);
        RETURN;
    END;

    -- Update User
    UPDATE Users
    SET 
        Email = @Email,
        PasswordHash = CASE WHEN @Password IS NOT NULL AND @Password <> '' THEN @Password ELSE PasswordHash END,
        IsActive = @IsActive
    WHERE Id = @UserId;

    -- Update Employee
    UPDATE Employees
    SET 
        FirstName = @FirstName,
        LastName = @LastName,
        DepartmentId = @DepartmentId,
        Designation = @Designation,
        ContactNumber = @ContactNumber,
        TotalLeaveQuota = @TotalLeaveQuota,
        IsActive = @IsActive
    WHERE Id = @EmployeeId;

    -- Audit Log
    INSERT INTO AuditLogs (Action, EntityName, EntityId, PerformedByUserId, Details)
    VALUES ('UpdateEmployee', 'Employee', @EmployeeId, @UserId, ('Updated employee ' + @FirstName + ' ' + @LastName));

    SELECT 1 AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateLeaveStatus]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_UpdateLeaveStatus]
    @LeaveRequestId INT,
    @Status NVARCHAR(20),
    @AdminRemarks NVARCHAR(500),
    @ReviewedByUserId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate Request Exists
    DECLARE @EmployeeId INT, @LeavePurposeId INT, @TotalDays DECIMAL(4,1), @CurrentStatus NVARCHAR(20);
    SELECT 
        @EmployeeId = EmployeeId, 
        @LeavePurposeId = LeavePurposeId, 
        @TotalDays = TotalDays, 
        @CurrentStatus = Status
    FROM LeaveRequests
    WHERE Id = @LeaveRequestId;

    IF @EmployeeId IS NULL
    BEGIN
        RAISERROR('Leave request not found.', 16, 1);
        RETURN;
    END;

    -- Update LeaveRequest
    UPDATE LeaveRequests
    SET 
        Status = @Status,
        AdminRemarks = @AdminRemarks,
        ReviewedByUserId = @ReviewedByUserId,
        ReviewedDate = GETDATE()
    WHERE Id = @LeaveRequestId;

    -- If approved and was not previously approved, increment UsedDays in LeaveBalances
    IF @Status = 'Approved' AND @CurrentStatus <> 'Approved'
    BEGIN
        UPDATE LeaveBalances
        SET UsedDays = UsedDays + @TotalDays
        WHERE EmployeeId = @EmployeeId AND LeavePurposeId = @LeavePurposeId AND Year = YEAR(GETDATE());
    END;

    -- If was approved and now rejected, revert UsedDays
    IF @Status = 'Rejected' AND @CurrentStatus = 'Approved'
    BEGIN
        UPDATE LeaveBalances
        SET UsedDays = CASE WHEN UsedDays >= @TotalDays THEN UsedDays - @TotalDays ELSE 0 END
        WHERE EmployeeId = @EmployeeId AND LeavePurposeId = @LeavePurposeId AND Year = YEAR(GETDATE());
    END;

    -- Audit Log
    INSERT INTO AuditLogs (Action, EntityName, EntityId, PerformedByUserId, Details)
    VALUES (
        'ReviewLeave',
        'LeaveRequest',
        @LeaveRequestId,
        @ReviewedByUserId,
        ('Leave request marked as ' + @Status + '. Admin Remarks: ' + ISNULL(@AdminRemarks, 'None'))
    );

    SELECT 1 AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidateUserLogin]    Script Date: 9/15/2026 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_ValidateUserLogin]
    @Email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.Id AS UserId,
        u.Email,
        u.PasswordHash,
        u.Role,
        u.IsActive,
        e.Id AS EmployeeId,
        e.EmployeeCode,
        e.FirstName,
        e.LastName,
        d.Name AS DepartmentName,
        e.Designation
    FROM Users u
    LEFT JOIN Employees e ON u.Id = e.UserId
    LEFT JOIN DepartmentMaster d ON e.DepartmentId = d.Id
    WHERE u.Email = @Email;
END;
GO
USE [master]
GO
